@charset "UTF-8";
/* font */
/* color */
/* 노트북 */
/* 테블릿 */
/* 모바일 */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Pretendard";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #2E2E2E;
  width: 100%;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}

.d-pc {
  display: block;
}

.d-mb {
  display: none;
}

@media (max-width: 768px) {
  .d-pc {
    display: none;
  }
  .d-mb {
    display: block;
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  z-index: 30;
}
header .hd-inner {
  width: 100%;
  height: 88px;
  max-width: 1580px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .hd-inner .logo > a {
  display: block;
  width: 175px;
  height: 39px;
}
header .hd-inner .logo > a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
header .hd-inner .contact-btn {
  width: 112px;
  height: 44px;
  color: #fff;
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: 700;
  border-radius: 30px;
  background: #012E85;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  background: #F2F3F6;
}
footer .ft-inner {
  width: 100%;
  max-width: 1580px;
  padding: 100px 0 140px;
  margin: 0 auto;
}
footer .ft-inner .ft-top {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .ft-inner .ft-top strong {
  font-size: 26px;
  font-weight: 700;
}
footer .ft-inner .ft-top .contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
footer .ft-inner .ft-top .contact span {
  color: #515E67;
  font-size: 16px;
  font-weight: 700;
}
footer .ft-inner .ft-top .contact a {
  color: #515E67;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.04em;
}
footer .ft-inner .ft-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
footer .ft-inner .ft-bottom .company-name {
  color: #515E67;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.04em;
}
footer .ft-inner .ft-bottom .business-info {
  margin: 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}
footer .ft-inner .ft-bottom .business-info li {
  position: relative;
  color: #515E67;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.04em;
}
footer .ft-inner .ft-bottom .business-info li:first-child::before {
  content: "";
  position: absolute;
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background: #515E67;
}
footer .ft-inner .ft-bottom .copyright {
  margin-bottom: 24px;
  color: #515E67;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.04em;
}
footer .ft-inner .ft-bottom .util-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}
footer .ft-inner .ft-bottom .util-wrap li {
  position: relative;
}
footer .ft-inner .ft-bottom .util-wrap li:first-child::before {
  content: "";
  position: absolute;
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background: #515E67;
}
footer .ft-inner .ft-bottom .util-wrap li > a {
  color: #515E67;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.04em;
}

.top-btn {
  position: fixed;
  bottom: 20px;
  right: 50px;
  width: 60px;
  height: 60px;
  padding-top: 12.5px;
  color: #868D9B;
  font-size: 14px;
  border-radius: 50%;
  border: 1px solid #F2F3F6;
  background: url(../../assets/images/icon/arrow_top.svg) no-repeat top 12.5px center/18px 14px rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.14);
  touch-action: manipulation;
  z-index: 100;
  display: none;
}

#wrapper {
  width: 100%;
  margin: 0 auto;
  background: #fff;
}
#wrapper #wrap {
  width: 100%;
  margin-top: 88px;
}

.main-visual {
  width: 100%;
}
.main-visual .inner {
  position: relative;
  width: calc(100% - 60px);
  max-width: 1860px;
  margin: 0 auto;
  padding: 130px 140px;
  height: 962px;
  border-radius: 40px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
}
.main-visual .inner::before {
  content: "";
  position: absolute;
  top: -70%;
  left: -50%;
  width: 2391px;
  height: 1521px;
  flex-shrink: 0;
  border-radius: 2391px;
  background: radial-gradient(97.28% 85.39% at 42.98% 15.11%, rgba(0, 51, 177, 0.79) 0%, rgba(196, 215, 255, 0.79) 81.17%, rgba(196, 215, 255, 0) 100%);
  filter: blur(100px);
}
.main-visual .inner::after {
  content: "";
  position: absolute;
  right: -50%;
  bottom: -40%;
  width: 1702px;
  height: 939px;
  transform: rotate(-21.011deg);
  flex-shrink: 0;
  border-radius: 1702px;
  background: radial-gradient(101.7% 54.52% at 48.89% 32.34%, rgba(0, 209, 10, 0.3) 0%, rgba(0, 209, 143, 0.3) 58.18%, rgba(0, 209, 143, 0) 100%);
  filter: blur(100px);
}
.main-visual .inner .txt-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 1;
}
.main-visual .inner .txt-wrap .sub-tit {
  color: #fff;
  font-size: 34px;
  font-weight: 700;
}
.main-visual .inner .txt-wrap .main-tit {
  color: #fff;
  font-size: 90px;
  font-weight: 700;
}
.main-visual .inner .txt-wrap .main-copy {
  margin-top: 34px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8;
}
.main-visual .inner .app-img-wrap {
  position: absolute;
  right: 100px;
  bottom: -137px;
  width: 846px;
  height: 1016px;
  z-index: 1;
}
.main-visual .inner .app-img-wrap > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.main-visual .inner .download-wrap .qr-wrap {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}
.main-visual .inner .download-wrap .qr-wrap li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.main-visual .inner .download-wrap .qr-wrap li .qr-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.main-visual .inner .download-wrap .qr-wrap li .cleanon-logo {
  width: 76px;
  height: 20px;
  object-fit: contain;
}
.main-visual .inner .download-wrap .qr-wrap li .cleantok-logo {
  width: 84px;
  height: 20px;
}

.sec02 {
  background: #fff;
}
.sec02 .inner {
  width: 100%;
  padding: 210px 0 268px;
}
.sec02 .inner p {
  color: #2E2E2E;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}
.sec02 .inner p span {
  background: linear-gradient(90deg, #0049D7 0%, #00CAA1 59.13%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.move-area {
  position: relative;
}
.move-area .nav-wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
.move-area .nav-wrap nav {
  position: sticky;
  top: 0;
  left: 0;
  padding-top: 126px;
  padding-left: 140px;
  z-index: 1000;
}
.move-area .nav-wrap nav .move-control {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.move-area .nav-wrap nav .move-control li > a {
  color: #B9BDC6;
  font-size: 15px;
  font-weight: 700;
}
.move-area .nav-wrap nav .move-control li > a.on {
  color: #000;
}
.move-area .move-sec {
  scroll-margin-top: 88px;
}

.main-sec {
  position: relative;
  width: 100%;
  margin-bottom: 200px;
}
.main-sec .inner {
  position: relative;
  width: calc(100% - 60px);
  max-width: 1860px;
  margin: 0 auto;
  padding: 140px 280px 130px;
  height: 776px;
  border-radius: 40px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
}
.main-sec .inner::before {
  content: "";
  position: absolute;
  bottom: -5%;
  left: 45%;
  width: 2089px;
  height: 1337px;
  border-radius: 2089px;
  filter: blur(100px);
}
.main-sec .inner .txt-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.main-sec .inner .txt-wrap .tag-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}
.main-sec .inner .txt-wrap .tag-list li {
  padding: 6px 12px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border-radius: 6px;
}
.main-sec .inner .txt-wrap .main-copy {
  margin: 38px 0 10px;
  font-size: 30px;
  font-weight: 700;
}
.main-sec .inner .txt-wrap .main-tit {
  font-size: 70px;
  font-weight: 700;
}
.main-sec .inner .app-img-wrap {
  position: absolute;
  right: 267px;
  bottom: 0;
  width: 399px;
  height: 667px;
  z-index: 1;
}
.main-sec .inner .app-img-wrap > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.main-sec .inner .download-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}
.main-sec .inner .download-wrap button {
  padding: 13px 25.5px 13px 53.5px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 50px;
}
.main-sec .inner .download-wrap button.android-btn {
  background: url(../../assets/images/common/google_play.svg) no-repeat center left 23.5px/24px #2E2E2E;
}
.main-sec .inner .download-wrap button.ios-btn {
  background: url(../../assets/images/common/apple.svg) no-repeat center left 23.5px/24px #2E2E2E;
}
.main-sec.cleanon-main-sec .inner::before {
  background: radial-gradient(95.64% 67.38% at 51.08% 33.84%, rgba(0, 209, 143, 0.3) 0%, rgba(0, 209, 10, 0.3) 42.03%, rgba(0, 209, 10, 0) 100%);
}
.main-sec.cleanon-main-sec .inner .txt-wrap .tag-list li {
  color: #01A168;
  background: rgba(1, 161, 104, 0.14);
}
.main-sec.cleanon-main-sec .inner .txt-wrap .main-tit {
  color: #01A168;
}
.main-sec.cleantok-main-sec .inner::before {
  background: radial-gradient(95.64% 67.38% at 51.08% 33.84%, rgba(0, 51, 177, 0.5) 0%, rgba(196, 215, 255, 0.5) 85.37%, rgba(196, 215, 255, 0) 100%);
}
.main-sec.cleantok-main-sec .inner .txt-wrap .tag-list li {
  color: #4972D7;
  background: rgba(73, 114, 215, 0.14);
}
.main-sec.cleantok-main-sec .inner .txt-wrap .main-tit {
  color: #4972D7;
}

.detail-sec {
  width: 100%;
  margin-bottom: 300px;
}
.detail-sec .inner {
  width: calc(100% - 60px);
  max-width: 1310px;
  margin: 0 auto;
}
.detail-sec .inner .detail-info {
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 110px;
}
.detail-sec .inner .detail-info .img-wrap {
  width: 652px;
  height: 490px;
  border-radius: 30px;
  overflow: hidden;
}
.detail-sec .inner .detail-info .img-wrap > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.detail-sec .inner .detail-info .img-wrap.big {
  height: 867px;
}
.detail-sec .inner .detail-info .txt-wrap {
  width: calc(100% - 762px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.detail-sec .inner .detail-info .txt-wrap .top-wrap .point {
  display: block;
  margin-bottom: 14px;
  color: #00B809;
  font-size: 20px;
  font-weight: 700;
}
.detail-sec .inner .detail-info .txt-wrap .top-wrap .point.blue {
  color: #4267C3;
}
.detail-sec .inner .detail-info .txt-wrap .top-wrap .main-tit {
  display: block;
  margin-bottom: 50px;
  color: #2E2E2E;
  font-size: 40px;
  font-weight: 700;
}
.detail-sec .inner .detail-info .txt-wrap .top-wrap .main-tit > span {
  font-size: 24px;
}
.detail-sec .inner .detail-info .txt-wrap .top-wrap .description {
  color: #868D9B;
  font-size: 22px;
  line-height: 1.8;
}
.detail-sec .inner .detail-info .txt-wrap .top-wrap .description + .pdf-info {
  margin-top: 26px;
}
.detail-sec .inner .detail-info .txt-wrap .top-wrap .pdf-info {
  position: relative;
  margin-top: 10px;
  color: #868D9B;
  font-size: 18px;
  line-height: 1.8;
  text-decoration: underline;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.detail-sec .inner .detail-info .txt-wrap .top-wrap .pdf-info::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../../assets/images/icon/pdf.svg) no-repeat center/contain;
}
.detail-sec .inner .detail-info .txt-wrap .bottom-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}
.detail-sec .inner .detail-info .txt-wrap .bottom-wrap .summary-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.detail-sec .inner .detail-info .txt-wrap .bottom-wrap .summary-wrap span {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.8;
}
.detail-sec .inner .detail-info .txt-wrap .bottom-wrap .summary-wrap ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}
.detail-sec .inner .detail-info .txt-wrap .bottom-wrap .summary-wrap ul li {
  padding: 0 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.8;
  border-radius: 4px;
  background: rgba(165, 173, 190, 0.3);
}
.detail-sec .inner .detail-info .txt-wrap .bottom-wrap .summary-wrap p {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: -0.02em;
}
.detail-sec .inner .detail-info.type01 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: stretch;
}

.company-sec {
  margin-bottom: 220px;
}

.slide-cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
}
.slide-cont .empty {
  position: relative;
  width: 310px;
  overflow: hidden;
}
.slide-cont .empty::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 10;
}
.slide-cont .company-slide-wrap {
  width: calc(100% - 310px);
}
.slide-cont .company-slide-wrap .company-slide {
  position: relative;
}
.slide-cont .company-slide-wrap .company-slide .swiper-slide {
  height: 646px;
  padding: 100px 0 0 120px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 40px;
}
.slide-cont .company-slide-wrap .company-slide .swiper-slide.slide01 {
  background: url(/assets/images/common/company_bg01.png) no-repeat center/cover;
}
.slide-cont .company-slide-wrap .company-slide .swiper-slide.slide02 {
  background: url(/assets/images/common/company_bg02.png) no-repeat center/cover;
}
.slide-cont .company-slide-wrap .company-slide .swiper-slide.slide03 {
  background: url(/assets/images/common/company_bg03.png) no-repeat center/cover;
}
.slide-cont .company-slide-wrap .company-slide .swiper-slide.slide04 {
  background: url(/assets/images/common/company_bg04.png) no-repeat center/cover;
}
.slide-cont .company-slide-wrap .company-slide .swiper-slide .main-txt-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 22px;
}
.slide-cont .company-slide-wrap .company-slide .swiper-slide .main-txt-wrap strong {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.5;
}
.slide-cont .company-slide-wrap .company-slide .swiper-slide .main-txt-wrap p {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7;
}
.slide-cont .company-slide-wrap .company-slide .swiper-slide .txt-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.slide-cont .company-slide-wrap .company-slide .swiper-slide .txt-wrap span {
  color: #fff;
  font-size: 90px;
  font-weight: 300;
  line-height: 1;
}
.slide-cont .company-slide-wrap .company-slide .swiper-slide .txt-wrap strong {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.5;
}
.slide-cont .company-slide-wrap .company-slide .swiper-slide .txt-wrap p {
  margin-top: 18px;
  color: #fff;
  font-size: 21px;
  line-height: 2.4;
}
.slide-cont .company-slide-wrap .company-slide .swiper-slide .txt-wrap ul {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.slide-cont .company-slide-wrap .company-slide .swiper-slide .txt-wrap ul li {
  position: relative;
  color: #fff;
  font-size: 21px;
  line-height: 2.4;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}
.slide-cont .company-slide-wrap .company-slide .swiper-slide .txt-wrap ul li::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #fff;
}

.swiper-pagination-bullet {
  background: #515E67;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #fff;
  opacity: 1;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  left: 120px;
  bottom: 94px;
  width: auto;
}

.contact-sec {
  margin-bottom: 200px;
}

.contact-cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
}
.contact-cont .empty {
  position: relative;
  width: 310px;
  overflow: hidden;
}
.contact-cont .empty::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 10;
}
.contact-cont .contact-wrap {
  width: calc(100% - 310px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
}
.contact-cont .contact-wrap .map {
  width: 800px;
  height: 454px;
  border-radius: 40px;
  background: url(/assets/images/common/map.png) no-repeat center/cover;
  overflow: hidden;
}
.contact-cont .contact-wrap .txt-wrap strong {
  color: #515E67;
  font-size: 40px;
  font-weight: 700;
}
.contact-cont .contact-wrap .txt-wrap ul {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}
.contact-cont .contact-wrap .txt-wrap ul li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}
.contact-cont .contact-wrap .txt-wrap ul li .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.contact-cont .contact-wrap .txt-wrap ul li .icon.location {
  background: url(/assets/images/icon/location.svg) no-repeat center #F2F3F6;
}
.contact-cont .contact-wrap .txt-wrap ul li .icon.mail {
  background: url(/assets/images/icon/mail.svg) no-repeat center #F2F3F6;
}
.contact-cont .contact-wrap .txt-wrap ul li .info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.contact-cont .contact-wrap .txt-wrap ul li .info span {
  color: #515E67;
  font-size: 20px;
  font-weight: 700;
}
.contact-cont .contact-wrap .txt-wrap ul li .info p, .contact-cont .contact-wrap .txt-wrap ul li .info a {
  color: #515E67;
  font-size: 20px;
}