/* font */
$pretendard: 'Pretendard';

/* color */
$black: #2E2E2E; //검정색
$white: #fff; //하얀색 

@mixin notebook_junction{
    @media (max-width: 1400px){ 
        @content;
    }
}

/* 노트북 */
@mixin notebook{
    @media (max-width: 1280px){ 
        @content;
    }
}

@mixin tablet_junction{
    @media (max-width: 950px){
        @content;
    }
}

/* 테블릿 */
@mixin tablet{
    @media (max-width: 768px){
        @content;
    }
}

/* 모바일 */
@mixin mobile_junction{
    @media (max-width: 560px){ 
        @content;
    }
}

/* 모바일 */
@mixin mobile{
    @media (max-width: 420px){ 
        @content;
    }
}

@mixin flexbox($direction, $justfy, $align){
	display:flex;
    flex-direction: $direction;
    justify-content: $justfy;
    align-items: $align;
}

@mixin ellipsis($num: 1) {
    @if ($num == 1) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    } @else {
        display: -webkit-box;
        overflow: hidden;
        word-break: keep-all;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $num;
    }
}

*, *::before, *::after {box-sizing: border-box;}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    &.is-scroll-lock {
        overflow: hidden;
        height: 100%;
    }
}

body{
    font-family: $pretendard;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: $black;
    width: 100%;
}

.hide {
    position: absolute; 
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0);
}

.d-pc{display: block;}

.d-no{display: block;}

.d-mj{display: none;}

.d-mb{display: none;}

@include notebook{
    .d-no{display: block;}
}

@include tablet{
    .d-pc{display: none;}
    .d-mb{display: block;}
}

@include mobile_junction{
    .d-mj{display: block;}
} 